
.site-footer > .footer-links {
  display: flex;
  background-color: #d3c2c2;
  padding-bottom: 30px;
  padding-top: 30px;
}

.site-footer > .footer-links .span4 {
  width: 25%;
}

.site-footer > .footer-copy {
  background-color: #e5e3e0;
}

.footer-copy {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 30px;
  color: #aaa;
  font-size: .85em;
}

